@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.banner-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/programmer_gp.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

.contact-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/contact_us.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

.blog-container {
    box-shadow: 0 0 10px 3px hsla(0,0%,74%,.35);
}