.recentBlog {
    display: grid;
    grid-template-rows: 2;
    row-gap: 1rem;
    width: 90%;
    margin: auto;
    padding: 0 0.75rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-top: 0.75rem;
}

.recentHeading {
    grid-row: 1;
}

.blogList {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.725rem;
}

.blogCard {
    border-radius: 10px;
    min-height: 20rem;
    background: rgb(225, 225, 235);
    height: 100%;
}

.blogImage {
    height: 50%;
    width: 100%;
}

.blogImage img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.blogDetail {
    height: 50%;
    padding: 1rem .5rem;
}

.blogDesc {
    margin: 1rem 0;
}

.blogLink {
    display: flex;
    align-items: end;
}